<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CategoryList" value="Spire.DocViewer.WinForm;Spire.DocViewer.WPF" />
    <add key="demopath" value=".\CS\WinForms;..\WPFDemos\CS\WPF" />
    <add key="htmlpath" value=".\Data\Html;..\WPFDemos\Data\Html" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="CorporationSlogan" value="E-iceblue — Your Office Development Master" />
    <add key="CorporationDescription" value="Powering Every Word, Excel &amp;&amp; PDF Development" />
    <add key="PurchaseUri" value="http://www.e-iceblue.com/Download/product-list.html" />
    <add key="ContactUsUri" value="http://www.e-iceblue.com/Misc/maillist.html" />
    <add key="AboutUsUri" value="http://www.e-iceblue.com/Misc/contact-us.html" />
    <add key="ProductName" value="Spire.DocViewer" />
    <add key="APIPath" value=".\..\Help\Spire.DocViewer.chm" />
  </appSettings>
  <startup>
      <supportedRuntime version="v2.0.50727"/>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>